/*------------------------------------------------ reset-------------------------------------------- */
img {
  display: block;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}

:root {
  --title-color: #4d5ae5;
  --first-color: #ffffff;
  --three-color: #2e2f42;
  --four-color: #434455;
  --six-color: #f4f4fd;
  --seven-color: #404bbf;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--four-color);
  background-color: var(--first-color);
}
.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--three-color);
  flex: none;
  order: 0;
  flex-grow: 0;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1158px;

  padding: 0 15px;

  margin: 0 auto;
}

/* header */
.header-container {
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-navigation {
  display: flex;
  align-items: center;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  display: flex;
  align-items: center;
  margin-right: 76px;
  display: inline-block;
}
.header-logo-top {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--three-color);
}

.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-item {
  padding: 24px 0;
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--three-color);
  padding: 24px 0;
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

/* kontact  */
.header-address {
  margin-left: auto;
}
.header-kontact {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-item-kontact {
}
.header-link-kontact {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--four-color);
}

.header-link-kontact:hover {
  color: #404bbf;
}
.header-link-kontact:focus {
  color: #404bbf;
}

/* section-one */
.section-one {
  background-color: var(--three-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 188px 0;
  max-width: 1440px;
  margin: 0 auto;
}
.title {
  max-width: 496px;
  height: 120px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  margin: 0 auto;
  color: var(--first-color);
  margin-bottom: 48px;
}

.section-one-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--first-color);
  background-color: var(--title-color);
  cursor: pointer;
  padding: 16px 32px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
}

.section-one-btn:hover {
  background-color: #404bbf;
}

.section-one-btn:focus {
  background-color: #404bbf;
}

/* section-two */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.section-two {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-two-title {
}
.section-one-list {
  display: flex;
  gap: 24px;
}
.section-one-item {
  flex-basis: 336px;
}

.section-two-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--three-color);
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 8px;
}
.section-two-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--four-color);
  flex: none;
  order: 1;
  flex-grow: 0;
}
/* section-three */

.section-three {
  padding-bottom: 120px;
}
.section-three-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--three-color);
  margin-bottom: 72px;
}
.section-three-list {
  display: flex;
  gap: 24px;
}
.section-three-item {
}

/* section-four */

.section-four {
  background-color: var(--six-color);
  padding: 120px 0;
}
.section-four-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--three-color);
  margin-bottom: 72px;
}
.section-four-linc {
  display: flex;
  gap: 24px;
  margin-top: 8px;
}
.section-four-contact {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-bottom: 8px;
  background: var(--title-color);
  display: inline-block;
}
.section-four-list {
  display: flex;
  gap: 24px;
}
.section-four-item {
  background-color: var(--first-color);
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.container-personal {
  padding: 32px 16px;
}
.section-four-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--three-color);
  flex: none;
  order: 0;
  flex-grow: 0;
  text-align: center;
  margin-bottom: 8px;
}
.section-four-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--four-color);
  flex: none;
  order: 1;
  text-align: center;
  margin-bottom: 8px;
}
.section-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.section-soc-item {
  height: 40px;
  width: 40px;
}
.section-soc-link {
  width: 100%;
  height: 100%;
  background: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-soc-link:hover {
  background-color: #404bbf;
}
.section-soc-link:focus {
  background-color: #404bbf;
}

/*----------------------------------------------------- section-five------------------------------------------------------------ */

.section-customers {
  padding-top: 120px;
  padding-bottom: 120px;
}
.title-page {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.list-customers {
  display: flex;
  gap: 24px;
}
.customer-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}
.customer-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
}
.customer-icon {
  width: 104px;
  height: 56px;
  fill: currentColor;
}
.customer-link:is(:hover, :focus) {
  border-color: #404bbf;
  color: #404bbf;
}

/************************************ Footer********************************************* */
.section-four-icon {
  fill: var(--six-color);
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}
.footer {
  background-color: var(--three-color);
  padding: 100px 0;
}
.footer-container-text {
  margin-right: 120px;
}
.container-soc {
  width: 208px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.header-logo-boton {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--six-color);
}
.footer-text {
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--six-color);
}

.footer-soc-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  color: var(--first-color);
}
.footer-soc-list {
  display: flex;
  gap: 16px;
  align-items: center;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f4f4fd;
}
.footer-soc-link:hover {
  background-color: #31d0aa;
}
.footer-soc-link:focus {
  background-color: #31d0aa;
}
/************************************ Portfolio********************************************* */
.contayner {
  width: 1158px;
}

.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.section {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.section-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--title-color);
  background: var(--six-color);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  border: 1px solid #e7e9fc;
  padding: 12px 24px;
  border-radius: 4px;
  box-sizing: border-box;
}

.section-btn:hover {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.section-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.cards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.card-item {
  display: block;
}
.card-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.card-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.cards-item {
  width: calc((100% - 48px) / 3);
}

.container-cards {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--three-color);
  margin-bottom: 8px;
}
.card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--four-color);
}
